* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial;
}
#body {
    width: 1180px;
    max-width: 100%;
    height: auto;
    margin: 40px;
}
/*  Header  */
#header {
    height: 46px;
    background-color: black;
}
#nav {
    padding-left: 60px;
}
#nav li {
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    display: inline-block;
    line-height: 46px;
    padding: 0 20px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
#nav>li:hover a {
    background-color: #ddd;
    color: black;
}
/*  Body    */
/*  Footer  */
#footer {

}
#heading-footer {
    background-color: #624ca4;
    height: 46px;
    padding: 0 20px;
    position: relative;
}
.text-h-f p {
    color: white;
    font-size: 20px;
    display: inline-block;
    line-height: 46px;
}
.icon-h-f {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    display: inline-block;
}
.icon-h-f i {
    padding: 0 20px;
    display: inline-block;
    line-height: 46px;

}
.icon-h-f i:hover {
    cursor: pointer;
    opacity: 0.7;
}

#body-footer {
    background-color: #000000;
    height: 300px;
}
.row {
    padding: 20px;
}
.w-25 {
    padding: 0 60px;
    display: inline-block;
    max-width: 24%;

}
.text-white {
    color: white;
}
.mb-8 {
    margin-bottom: 16px;
 }
.title-f-t-b p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: unset;
    font-weight: bold;
}
.u-l {
    border-bottom: 3px red solid;
    width: 100px;
}

.text-b-f {
    width: 160px;
}
.text-b-f p {
    font-size: 18px;
   letter-spacing: 1px;
}